<h1>{{iol.name}}</h1>
<h5><a href="{{topic.url}}">{{topic.name}}</a> - <a href="{{course.url}}">{{course.name}}</a></h5>

<h3>What you need to know</h3>
<ul>
  <li *ngFor="let kp of iol.knowledgePoints"><markdown [data]=kp katex></markdown></li>
</ul>

<h3>Quantities</h3>
<app-quantities [quantities]="iol.quantities"></app-quantities>

<h3>Read these notes</h3>
<app-notes [notes]="iol.notes"></app-notes>

<h3>Watch these videos</h3>
<youtube-player *ngFor="let id of iol.youtubeIds" [videoId]="id"></youtube-player>

<h3>Answer these questions</h3>
<app-notes [notes]="iol.questionSets"></app-notes>
